<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'pages/landing.css' %}">
    {% block links %}
    {% endblock %}

</head>
    <body>

    {% block body %}
    {% endblock %}

    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "chatbot/chatbot.js" %}" ></script>
    {% block scripts %}
    {% endblock %}

</html>