body {
    background-color: #141414;
}

#chat {
    background-color: white;
    border: 4px solid #7b904b;
}

#chatArea {
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 70vh;
    border: 2px solid black;
}

.salamander-button {
    background-color: #7b904b!important;
}