{% extends 'base.html' %}

{% load static %}

{% block links %}
{% endblock %}

{% block body %}

<div class="container">
    <form id="chat" class="mt-5 p-5">
        <div class="text-center"><h1> salamander </h1></div>

        <div id="chatArea"></div>
        <input id="userInput" class="w-100 mt-2" type="text"/>
        <button type="submit" class="btn btn-primary w-100 mt-2 salamander-button">Send</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'pages/chatbot.js' %}"></script>

{% endblock %}